@use '../media' as *;
@use '../mixins' as *;

.feedback {
  margin-top: var(--margin-desktop1-y);
  @include fluid-padding-top(100, 50);
  @include fluid-padding-bot(100, 50);
  background:
    url('/images/feedback/decor-feedback.svg'),
    var(--color-neutral-greyscale20);
  background-repeat: no-repeat;
  background-position: top left;
  border-radius: var(--border-radius-72);
  position: relative;
  z-index: 1;

  @include tablet-medium {
    margin-top: var(--margin-mobile1-y);
    border-radius: 40px;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    column-gap: 48px;


  }

  &__picture {
    border-radius: var(--border-radius-32);
    width: 50%;
    height: auto;
    object-fit: contain;

    @include desktop-medium {
      display: none;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__subheading {
    margin-bottom: 24px;

    @include desktop-medium {
      font-size: 16px;
    }
  }

  &__inner {
    max-width: 500px;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8px;
    column-gap: 6px;

    @include phone-large {
      grid-template-columns: 1fr;
    }
  }
}