@use '../media' as *;
@use '../mixins' as *;

.gallery {
  margin-top: var(--margin-desktop1-y);
  margin-bottom: var(--margin-desktop1-y);
  @include fluid-padding-top(100, 50);
  @include fluid-padding-bot(100, 50);
  color: var(--color-neutral-greyscale20);
  background:
    url('/images/gallery/decor.svg'),
    var(--color-neutral-greyscale80);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: var(--border-radius-72);
  position: relative;
  overflow: hidden;

  @include tablet-medium {
    border-radius: 40px;
    margin-top: var(--margin-mobile1-y);
    margin-bottom: var(--margin-mobile1-y);
  }

  &__title {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 40px;
    column-gap: 20px;

    @include tablet-medium {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__paraghap {
    color: var(--color-neutral-greyscale20);

    @include tablet-medium {
      font-size: 16px;
    }
  }

  &__text {
    max-width: 745px;

    p {
      margin-bottom: 32px;
    }

  }

  &__slider {
    display: flex;
    gap: 72px;
    transition: all 0.6s ease;

  }

  &__slide {
    display: flex;
    column-gap: 24px;
    min-width: 100%;
    justify-content: center;
    row-gap: 8px;

    @include tablet-medium {
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 45%;
      border-radius: var(--border-radius-32);

      @include tablet-medium {
        width: 100%;
      }
    }
  }



  &__link {
    color: var(--color-neutral-greyscale20);
  }
}