.mobile-overlay {
  width: 100%;
  padding: 9px 16px;
  flex-direction: column;
  display: none;

  &:modal {
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--color-neutral-greyscale0);
  }

  &::backdrop {
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.25);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__nav {
    margin-bottom: auto;

  }

  &__list {
    font-size: 24px;
    display: inline-flex;
    flex-direction: column;
    row-gap: 16px;
    padding-top: 42px;
    align-self: flex-start;

    &-item {
      position: relative;
    }
  }

  &__button {}
}