@use '../media' as *;

.button {
  padding: 24px 32px;
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  border-radius: var(--border-radius-72);
  transition: background-color 0.5s, color 0.5s, border 0.5s;

  @include tablet-medium {
    padding: 20px 32px;
  }

  &-orange {
    background-color: var(--color-main-orange);
    color: var(--color-neutral-greyscale0);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--color-neutral-greyscale20);
      color: var(--color-main-black);
      border: 1px solid currentColor;
    }
  }

  &-transparent {
    color: var(--color-neutral-greyscale0);
    border: 1px solid currentColor;
    background-color: transparent;
    padding: 24px 52.5px;

    @include tablet-medium {
      padding: 20px 32px;
    }

    &:hover {
      color: var(--color-main-black);
      background-color: var(--color-neutral-greyscale0);
    }
  }

  &-brown {
    color: var(--color-neutral-brown);
    border: 1px solid currentColor;
    background-color: transparent;

    &:hover {
      color: var(--color-neutral-greyscale0);
      background-color: var(--color-main-orange);
    }
  }

  &-slider {
    width: 72px;
    height: 72px;
    border: 1px solid var(--color-neutral-greyscale20);
    background: url('/images/icon/arrow.svg'), transparent;
    background-repeat: no-repeat;
    background-position: center;

    &--black {
      width: 72px;
      height: 72px;
      background: url('/images/icon/arrow-black.svg'), transparent;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid var(--color-neutral-greyscale60);
    }
  }

  &-tel {
    width: 41px;
    height: 41px;
    border: 1px solid var(--color-main-orange);
    border-radius: 50%;
    background-color: transparent;
    line-height: 0;
  }

  &-burger {
    height: 41px;
    width: 41px;
    border-radius: 50%;
    background-color: var(--color-main-orange);
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      color: var(--color-neutral-greyscale0);
      height: 1px;
      width: 16px;
      border-radius: 16px;
      position: absolute;
      background-color: currentColor;
      box-shadow: 1px;
      box-shadow: 0 -4px currentColor, 0 4px currentColor;
      top: 20px;
      left: 13px;
    }
  }

  &-burger-close {
    height: 41px;
    width: 41px;
    border-radius: 50%;
    background-color: var(--color-main-orange);
    cursor: pointer;
    position: relative;

    &::after,
    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 1px;
      height: 16px;
      top: 13px;
      right: 20px;
      background-color: var(--color-neutral-greyscale0);
      border-radius: 16px;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}

.right {
  transform: rotateY(180deg);
}

.left {}

.button-link-modal {
  padding-right: 18px;
  position: relative;

  &::after {
    content: '';
    background-image: url('../images/icon/modal-header-icon.svg');
    background-size: cover;
    position: absolute;
    top: 25%;
    right: 0;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
}

.button-link-modal2 {
  padding-right: 18px;
  position: relative;

  &::after {
    content: '';
    background-image: url('/images/icon/arrow-black.svg');
    background-size: cover;
    position: absolute;
    top: 36%;
    right: 0;
    width: 12px;
    height: 12px;
    cursor: pointer;
    transform: rotate(180deg);
  }
}



.active {
  transition: all 0.3s;
  color: var(--color-main-orange);

  &::after {
    content: '';
    background-image: url('/images/icon/modal-header-icon-2.svg');
    background-size: cover;
    position: absolute;
    top: 25%;
    right: 0;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .modal-header {
    display: flex;
    color: var(--color-main-black);
  }
}

.button-back {
  padding-left: 18px;
  position: relative;

  &::after {
    content: '';
    background-image: url('../images/icon/modal-header-icon.svg');
    background-size: cover;
    position: absolute;
    top: 25%;
    left: 0;
    width: 12px;
    height: 12px;
    cursor: pointer;
    rotate: (90deg);
  }
}