.input {
  padding: 12px 16px;
  border: 1px solid #D9D9D9;
  border-radius: 16px;
  background-color: var(--color-neutral-greyscale0);
  color: var(--color-neutral-greyscale60);
  width: 100%;
  font-size: 16px;

  &::placeholder {
    color: currentColor;
  }

  &-textarea {
    resize: none;
    height: 122px;
  }

  &:user-invalid {
    color: #D73333;
    border-color: currentColor;
  }
}