@font-face {
  font-family: "Manrope";
  src: local("Manrope-Medium"),
    url("fonts/Manrope/Manrope-Medium.woff2") format("woff2"),
    url("fonts/Manrope/Manrope-Medium.woff") format("woff"),
    url("fonts/Manrope/Manrope-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope-SemiBold"),
    url("fonts/Manrope/Manrope-SemiBold.woff2") format("woff2"),
    url("fonts/Manrope/Manrope-SemiBold.woff") format("woff"),
    url("fonts/Manrope/Manrope-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope-Bold"),
    url("fonts/Manrope/Manrope-Bold.woff2") format("woff2"),
    url("fonts/Manrope/Manrope-Bold.woff") format("woff"),
    url("fonts/Manrope/Manrope-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "RedHatDisplay";
  src: local("RedHatDisplay-Regular"),
    url("fonts/RedHatDisplay/RedHatDisplay-Regular.woff2") format("woff2"),
    url("fonts/RedHatDisplay/RedHatDisplay-Regular.woff") format("woff"),
    url("fonts/RedHatDisplay/RedHatDisplay-Regular.ttf") format("ttf");
  font-weight: 400;
}