@use './media' as *;
@use './mixins' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'RedHatDisplay';
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.1;

  @include phone-large {
    font-size: 2.625rem;
  }
}

h2,
h3,
h4 {
  line-height: 1.2;
}

h2 {
  @include fluid-text(48, 32)
}

h3 {
  @include fluid-text(40, 28)
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.5;
}

p {
  font-family: 'Manrope';
  line-height: 1.5;
  font-weight: 500;
}

.p--l {
  font-size: 1.25rem;
}

.p--m {
  font-size: 1.125rem;
  color: var(--color-neutral-greyscale60);
}

.p--s {
  font-size: 1rem;
  color: var(--color-neutral-greyscale60);
}

.p--xs {
  font-size: 0.875rem;
}

.p--subheading {
  font-family: 'RedHatDisplay';
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.2;
  color: var(--color-neutral-greyscale60);
}

.p--btn-text {
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}

.a-decoration {
  text-decoration: underline;
  color: var(--color-main-orange);
}