:root {
  --color-main-orange: #F37021;
  --color-main-black: #151515;
  --color-main-grey: #CDCDCD;

  --color-neutral-brown: #45280A;

  --color-neutral-greyscale80: #342F28;
  --color-neutral-greyscale60: #5E5E5E;
  --color-neutral-greyscale30: #BDBDBD;
  --color-neutral-greyscale20: #F6F3EC;
  --color-neutral-greyscale10: #FAFAFA;
  --color-neutral-greyscale0: #FFFFFF;

  --color-status: #D73333;

  --margin-block-desktop1: 100px;
  --margin-block-desktop2: 80px;
  --margin-block--mobile1: 50px;
  --margin-block--mobile2: 40px;
}